body{
    background-color: #FFF;
 }
/* header section style */
 .banner{
    position: relative;
    text-align: center;
    margin: 50px 140px 120px;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: #070211;  
 }
 .banner-img{
    opacity: .4;
 } 

 .banner-text{
    font-family: 'Merriweather', serif;
    position: absolute;
    top: 177px;
    right: 531px;
    bottom: 383px;
    left: 530px;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;   
 }

.banner-title{
    font-family: 'Merriweather', serif;
    position: absolute;
    top: 233px;
    left: 344px;
    right: 344px;
    bottom: 177px;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    width: 632px;   
}
/* main section style */
.percentage{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 48px;
}

.deals{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0;
}

.title{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

.new-year-pic{
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    margin-top: 48px;
    margin-right: 398px;
    margin-left: 399px;
    margin-bottom: 120px;
}
.Welcome{
    position: relative;
    margin-top: 0;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 120px;
}

.party{
    position: absolute;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    top: 126px;
    right: 95px;
    left: 126px;
    bottom: 24px; 
}

.description{
    position: absolute;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    top: 326px;
    right: 39px;
    bottom: 214px;
    left: 126px;
}

.Join{
    position: absolute;
    top: 434px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    right: 601px;
    left: 100px;
    bottom: 142px;
}
 .img-2024{
    position: absolute;
    top: 68px;
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    left: 862px;
    right: 138px;
    bottom: 67px;
 }
 /* nav section style */
 nav{
    width: 1320px;
    height: 482px;
    margin: 100px 120px 120px;
    align-items: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    


 }

 nav > div{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    
    font-weight: 600;
    
    text-transform: capitalize;  
    
    padding-left: 385px;
    padding-top: 100px;
    padding-right: 386px;
    padding-bottom: 386px;
    align-items: center; 
    margin-bottom: 0;   

 }
 nav span{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    
    font-weight: 600;
    
    text-transform: capitalize;  
 }
 
.Button{
    border-radius: 8px;
    background: #F00;
    
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
} 
 nav div button span{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
 }


 /* offer section */


 .offer{
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 120px;
    margin-top: 120px; 
 }

 .greeting{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 140px; 
    margin-right: 100px;
    margin-bottom: 0;
    
 }
 .offer-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-right: 135px;
    margin-left: 140px;
    margin-top: 22px;
    margin-bottom: 22px;
 }
 .offer-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    margin-right: 70px;
    margin-left: 140px;
    margin-top: 0;
 }
 .offer-pic{
    /* width: 364px; 
    height: 364px;  */
    /* flex-shrink: 0; */
    /* order-radius: 100%; */
    /* border-radius: 463px;  */
    /* border-radius: 100%; */
    border: 15px solid #F00;
    /* margin-left: 70px; */
    /* margin-right: 534px;
    margin-left: 603px; */ 
    border-radius: 364px;
    padding: 40px;  
    /* width: 463px;
    height: 463px; */
    /* flex-shrink: 0; */
    /* border-radius: auto;     */
 } 

 .offer-year{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 289px;
    margin-left: 118px;
 }

 .year-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-right: 140px;
    margin-left: 118px;
 }
 .offer-pic1{
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    margin-right: 276px;
    margin-left: 118px;
 }


 /* gifts section  */


 .gifts-greeting{
    
    margin-bottom: 16px;
    margin-top: 120px;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
 }
 .gifts-title{
    
    margin-top: 0;
    margin-bottom: 22px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
 }
 .gifts-description{
    /* margin-left: 140px;
    margin-right: 564px; */
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    margin-right: 70px;
 }

 .gifts{
    margin-left: 140px; 
    /* margin-right: 140px;  */
 }

 .gifts-pic{
    margin-left: 140px;
    margin-right: 140px;
 }
 * {
    box-sizing: border-box;
  }
 .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }


 .row::after {
    content: "";
    clear: both;
    display: table;
  }

 /* subscribe section style */

 .subscribe{
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
 }

 .subscribe-pic{
    padding: 80px 586px 0;
    margin-bottom: 0;
    /* width: 150px;
    height: 150px;
    flex-shrink: 0;
     */
 }
 .newsletter{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 40px;
    padding-left: 404px;
    padding-right: 404px;
    margin-bottom: 22px;
 }
 .newsletter-description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    padding-left: 212px;
    padding-right: 212px;
    margin-top: 0;
 }
 .Email{
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    padding-bottom: 80px;
    /* color: rgba(7, 2, 17, 0.30);
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal; */
 }
.subscribe-email{
    display: flex;
    /* width: 648px;
    height: 72px; */
    /* position: absolute; */
    /* padding-right: 336px;
    margin: 0; */
}

#email{
    
flex-shrink: 0;
/* padding-bottom: 80px; */
border-radius: 50px;
background: #FFF;
/* width: 648px;
height: 72px; */
/* padding-left: 336px;
padding-right: 336px; */

}
#sub-button{
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    /* width: 210px;
    height: 72px; */
    flex-shrink: 0;
    /* padding-right: 336px; */
    
}
 /* .Button{
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    padding-right: 336px;    
 } */

 /* footer section style */
 footer{
    width: 1600px;
    height: auto;
    flex-shrink: 0;
    background: #070211;
    margin-bottom: 0; 
 }
 footer> p{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
   
 }
 .footer-text{
    padding-left: 140px;
    padding-top: 120px;
    padding-right: 1085px;
 }
 .footer-number{
    padding-right: 291px;
    padding-left: 1114px;
    padding-top: 120px;
  
}
.footer-website{
    padding-bottom: 90px;
    padding-right: 275px;
    padding-left: 1114px;
}
.footer-pic{
    padding-left: 50%;
}
.footer-parg{
    padding-left: 140px;
}
.footer-sub{
    padding-right: 140px;
    padding-left: 1315px;
    padding-bottom: 120px;
    
}
.phone-icon{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}
