body{
    background-color: #FFF;
 }

 .banner{
    position: relative;
    text-align: center;
    margin: 50px 140px 120px;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: #070211;  
 }
 .banner-img{
    opacity: .4;
    /* background-color: #070211;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
 } 

 .banner-text{
    font-family: 'Merriweather', serif;
    position: absolute;
    top: 177px;
    right: 531px;
    bottom: 383px;
    left: 530px;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;   
 }

.banner-title{
    font-family: 'Merriweather', serif;
    position: absolute;
    top: 233px;
    left: 344px;
    right: 344px;
    bottom: 177px;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    width: 632px;   
}

.percentage{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 48px;
}

.deals{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0;
}

.title{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

.new-year-pic{
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    margin-top: 48px;
    margin-right: 398px;
    margin-left: 399px;
    margin-bottom: 120px;
}
.Welcome{
    position: relative;
    margin-top: 0;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 120px;
}

.party{
    position: absolute;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    top: 126px;
    right: 95px;
    left: 126px;
    bottom: 24px; 
}

.description{
    position: absolute;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    top: 326px;
    right: 39px;
    bottom: 214px;
    left: 126px;
}

.Join{
    position: absolute;
    top: 434px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    right: 601px;
    left: 100px;
    bottom: 142px;
}
 .img-2024{
    position: absolute;
    top: 68px;
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    left: 862px;
    right: 138px;
    bottom: 67px;
 }
 /* nav section style */
 nav{
    background-color: rgb(214, 179, 170);
    width: 1320px;
    height: 482px;
    
    margin: 100px 120px 120px;
   
    align-items: center;
    


 }

 nav > div{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    
    font-weight: 600;
    
    text-transform: capitalize;  
    
    padding-left: 385px;
    padding-top: 100px;
    padding-right: 386px;
    padding-bottom: 386px;
    align-items: center; 
    margin-bottom: 0;   

 }
 nav span{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    
    font-weight: 600;
    
    text-transform: capitalize;  
 }
 
.Button{
    border-radius: 8px;
    background: #F00;
    
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
} 
 nav div button span{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
 }
 .offer{
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 120px;
    margin-top: 120px;
    
    
 }
 .offer-pic{
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
    order-radius: 364px;
    border-radius: 463px;
    border: 15px solid #F00;
    margin-left: 70px;
    
 }
 .offer-pic1{
    width: 140px;
    height: 140px;
    flex-shrink: 0;
 }
 .gifts-greeting{
    
    margin-bottom: 16px;
    margin-top: 120px;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
 }
 .gifts-title{
    
    margin-top: 0;
    margin-bottom: 22px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
 }
 .gifts-description{
    /* margin-left: 140px;
    margin-right: 564px; */
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
 }

 .gifts{
    margin-left: 140px; 
    margin-right: 140px; 
 }
 .Email{
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
 }
 
 footer{
    width: 1600px;
    height: auto;
    flex-shrink: 0;
    background: #070211;
    margin-bottom: 0; 
 }
 footer> p{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
   
 }
 .footer-text{
    padding-left: 140px;
    padding-top: 120px;
    padding-right: 1085px;
 }
 .footer-number{
    padding-right: 291px;
    padding-left: 1114px;
    padding-top: 120px;
  
}
.footer-website{
    padding-bottom: 90px;
    padding-right: 275px;
    padding-left: 1114px;
}
.footer-pic{
    padding-left: 50%;
}
.footer-parg{
    padding-left: 140px;
}
.footer-sub{
    padding-right: 140px;
    padding-left: 1315px;
    padding-bottom: 120px;
    
}
.phone-icon{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}
